body {
    background-color : #fedada;
    /*background-image: url("/static/images/images.jpeg");*/
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: rgb(48, 42, 42);
    color: rgb(50, 34, 34);*/
    text-align: center;
 }