body {
    background-color: rgb(250, 232, 207);
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
 }

.container {
    display: grid; 
    gap: 10px;
    width: 90vw; 

}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}