{% extends 'base.html' %}
{% block title %}Create New Profile Page {% endblock %}
{% block content %}

<h1>Create Profile Page.. </h1>
{% if user.is_authenticated %}
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Create Profile Page</button>
        <a href="{% url 'home' %}" class="btn btn-primary float-end">Back</a>
        </form>
    </div>
    <br><br><br><br>
{% else %}
    You're not login Sorry ( you know it..)
{% endif %}
{% endblock %}