{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

 

<h1>Login..</h1>
<div class="form-control">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Enter Username here...">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Enter Password here...">
        </div>
        <br/>
        <div class="container bg-light">
            <div class="col-md-12 text-center">
                <button class="btn btn-secondary" text-align="text-center">Login</button>
            </div>
        </div>
        <div id="emailHelp" class="form-text">Not Registered? Sign Up.... <a href="{% url 'register' %}">here</a> </div>
    </div>
    </form>
    <br><br><br><br>
</div>

{% endblock %}