{% extends 'base.html' %}
{% block title %}Add New Blog {% endblock %}
{% block content %}

 
{% if user.is_authenticated %}
        <h1>AddBlog</h1>
        <br/>
        
        <div class="form-group">
            <div class="container"> 
                <form method="POST" enctype="multipart/form-data">
                        <a href="{% url 'home' %}" class="btn btn-primary float-end">Back</a>
                    <button class="btn btn-primary float-end btn-primary-spacing" type="submit">
                        <a href="{% url 'home' %}" class="float-end"></a>Post</button>
                    
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <br/>
                </form>
            </div>
        </div>
{% else %}
    You're not login Sorry ( you know it..)
{% endif %}
{% endblock %}