{% extends "base.html" %}
{% block content %}

<h1>{{ cats }}</h1>

<ul>
{% if category_posts %}
    {% for post in category_posts %}
    <li>
        <a href="{% url 'post_detail' post.pk %}">{{ post.title}}</a>
            {{ post.author }} {{ post.date }}

        {% if user.is_authenticated %}
            <a href="{% url 'update_post' post.pk %}">(Edit)</a>
            <a href="{% url 'delete_post' post.pk %}">(Delete)</a><br/>
        {% endif %}
        {{ post.body | slice:":200" | safe }}

    </li>
    <br>
    </br>
    {% endfor %}
    <br/>
    <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
</ul>
{% else %}
    <h2>Sorry this page does not exist.. </h2>

{% endif %}

{%endblock%}