{% extends "base.html" %}
{% block content %}


<!--This is the script to populate list of Blogs for the selected category-->
<h1>{{ cats }}</h1>
<ul>
{% if category_posts %}
    {% for post in category_posts %}
    <li>
        <a href="{% url 'post_detail' post.pk %}">{{ post.title}}</a>
            {{ post.author }} {{ post.date_posted }}

        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                <a href="{% url 'delete_post' post.pk %}">(Delete)</a><br>
            {% endif %}
        {% endif %}
        {{ post.content | slice:":200" | safe }}
        
    </li>
    
    {% endfor %}
    
    <a href="{% url 'category' %}" class="btn btn-primary float-end">Back</a>
    <br><br><br><br><br><br>

{% else %}
    <h2>No blog added to this category yet... </h2><br>
    <a href="{% url 'category' %}" class="btn btn-primary float-end">Back</a><br><br><br><br><br>
{% endif %}
</ul>

{%endblock%}