{% extends 'base.html' %}
{% block title %}DeleteBlog {% endblock %}
{% block content %}

 
{% if user.is_authenticated %}
    <h1>Delete Post...</h1>
    <br/>
    <br/>
    <h3>Delete: {{ post.title }} </h3>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <strong>Are you sure?</strong><br/>
            <button class="btn btn-secondary">Delete Post!</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
        </form>
    </div>
{% else %}
    You're not allowed here( you're not login ...)
{% endif %}
{% endblock %}