{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}


{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!--current user : {{ user.id }}</h3>
                post author : {{ post.author.id }} both are used for user and author id</h3>-->
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ post.author }} | {{ post.date }}</p>

                <div class="d-none d-md-block col-md-6 masthead-image">
                    <!-- The featured image URL goes in the src attribute -->
                    {% if "placeholder" in post.featured_image.url %}
                    
                        <img class="card-img-top" src=" {{ post.featured_image.url }}" width="100%"><br/>
                        
                    {% endif %}
                    
                </div>
                <div class="card-body">
                    <p class="card-text ">
                    {{ post.body | safe }}
                    </p>
                </div>
            </div>
            
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                    <!-- here Edit and delete file call -->
                    <p class="card-text"><a href="{% url 'update_post' post.pk %} ">(Edit)</a>
                    <a href="{% url 'delete_post' post.pk %} ">(Delete)</a></p>
                {% endif %}
            {% endif %}
            
           
        </div>
    </div>
    <a href="{% url 'home' %}" class="btn btn-primary float-end btn-primary-spacing">Back</a>
</div>
    <br>
    <br/>
   

    {% if user.is_authenticated %}
    <!-- here likes and unlike count show -->
    <form class="d-inline" action ="{% url 'like_post' post.pk %}" method="post">
        {% csrf_token %}
    
        {% if liked %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn-like"><i class="fas fa-heart"></i>
                Unlike
            </button>
        {% else %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn-like"><i class="fas fa-heart"></i>
                Like
            </button>
        {% endif %}
    </form>
    {% else %}  
    <a href="{% url 'login' %}">Login</a>
        Please logged for Like......
    {% endif %}

    <span class="text-secondary">{{ post.total_likes }} </span>
   <br>
   <br>
   <hr>
   <h3>Comments...</h3>
   <!-- here add the comment show with name ,date -->
    
    {% if not post.comments.all %}
        No Comments yet... <a href="{% url 'comment' post.pk %}">Add One</a>
    {% else %}
        {% for comment in post.comments.all %}
            <strong>   
                {{ comment.name }} -
                {{ comment.date }}
            </strong> 
            <br/>
                {{ comment.body }}
            <br/>
            <br/>
            <a href="{% url 'comment' post.pk %}">Add Comments</a>
            <br/>
            <br/>
        {% endfor %}
    {% endif %}
    <br/>
    <hr>
</div>
<br/>

{% endblock %}