{% extends 'base.html' %}
{% block title %}EditBlog {% endblock %}
{% block content %}

 
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>UpdateBlog</h1>
        <br/>
        <div class="form-group">
            <form method="POST">
                <button class="btn btn-primary float-end btn-primary-spacing" type="submit">UpdateBlog</button>
                {% csrf_token %}
                <!--{{ form.media }}-->
                {{ form.as_p }}
                
            </form>
        </div>
    {% else %}
        You're not login 'sorry'( you know it...)
        <a href="{% url 'home' %}" class="btn btn-primary float-end">Back</a>
    {% endif %}

{% else %}
    You're not login 'sorry'( you know it...)
    <a href="{% url 'home' %}" class="btn btn-primary float-end">Back</a>
{% endif %}

{% endblock %}