{% extends 'base.html' %}
{% block title %} EditBlog {% endblock %}
{% block content %}


<!--This is the script to populate information for Editing a Blog-->
<div class="container-fluid" style="width: 90vw;">
    <h1 style="width: fit-content">UpdateBlog</h1>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
  
        <div class="form-group" style="width: 100%;">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-primary float-end btn-primary-spacing" type="submit">Update Blog</button>
                <br><br><br>
            </form>
        </div>
        <br><br>
    {% else %}
        You're not logged in 'sorry' (you know it...)
        <a href="{% url 'home' %}" class="btn btn-primary float-end">Back</a>
    {% endif %}

{% else %}
    You're not logged in 'sorry' (you know it...)
    <a href="{% url 'home' %}" class="btn btn-primary float-end">Back</a>
{% endif %}
</div>

{% endblock %}